<!--double stash will evaluate as an expression, if it's a variable it will print the variable-->

<h1>Mindful</h1>
<p>Login below to view your projects</p>
<p>{{loginName}}</p>
<p>{{loginPassword}}</p>

