<div id="grad1">
    <!--Styleing from Ulkit-->
    <div>
        <p id="projectHeader">Current Projects:</p>
    </div>
    <div class="container" id ="projectContainer">

    
        <div uk-slider="center: true">

            <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" id="allSlides">
        
                <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
                    <li>
                        <div class="uk-card uk-card-default" id="slide">
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">{{#each projectName}}</h3>
                                <p>{{#each projectDes}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
        
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        
            </div>
        
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        
        </div>
    </div>

        <br>
        <button type="button" id="addProjectBtn">Add Another Project</button>

</div>
