<!--layout that wraps around all template files-->
<!DOCTYPE html>
<html lang="en">
    <head>
		<title>Mindful</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!--UIkit layout for project page-->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
        <link rel="stylesheet" href="css/uikit.min.css" />
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
        <link rel="stylesheet" href="./assets/style.css"/>
        <!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/css/uikit.min.css" />
		<!--Bootstrap for tasks page-->
		<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    	<!-- UIkit JS -->
    	<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit.min.js"></script>
    	<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.8/dist/js/uikit-icons.min.js"></script>
	</head>

	<body>
		<!--triple stash, cannot escape, will be treated like HTML-->
		{{{ body }}}
    	<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/server.js"></script>    
	</body>
</html>
