<!--layout that wraps around all template files-->
<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Mindful</title>
	</head>

	<body>
		<!--triple stash, cannot escape, will be treated like HTML-->
		{{{ body }}}
    	<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/server.js"></script>    
	</body>
</html>
